<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo" [routerLink]="['']">
      <svg class="header__logo_img header__icon">
        <use href="assets/sprite.svg#icon-shop"></use>
      </svg>
      <div class="header__logo_text header__text">Store</div>
    </a>
    <nav class="header__nav">
      <ul class="header__nav_list">
        <li>
          <a class="header__nav_item" [routerLink]="['products']">
            <svg class="header__nav_img header__icon">
              <use href="assets/sprite.svg#icon-catalogue"></use>
            </svg>
            <div class="header__nav_text header__text">Products</div></a
          >
        </li>
        <li (mouseenter)="hover()" (mouseleave)="leave()" (click)="click()">
          <a class="header__nav_item" [routerLink]="['products/cart']"
            ><svg class="header__nav_img header__icon">
              <use href="assets/sprite.svg#icon-shopping-cart"></use>
            </svg>
            <div class="header__nav_text header__text">Cart</div>
          </a>
          <app-cart-modal
            (mouse)="change($event)"
            [className]="className"
          ></app-cart-modal>
        </li>
      </ul>
    </nav>
  </div>
</header>
