<div class="details" *ngIf="productData">
  <div class="container">
    <h2 class="details__title">{{ productData.name }}</h2>
    <app-rating
      [data]="productData.comments"
      [addClass]="'rating_details'"
    ></app-rating>
  </div>
  <div class="details__tabs">
    <div class="container">
      <div class="details__tabs_container">
        <a
          class="details__link"
          [routerLink]="['/products', productData.id]"
          routerLinkActive="details__link_active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Про товар
        </a>
        <a
          class="details__link"
          [routerLink]="['characteristics']"
          routerLinkActive="details__link_active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          Характеристики
        </a>
        <a
          class="details__link"
          [routerLink]="['comments']"
          routerLinkActive="details__link_active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          Відгуки {{ "  " + productData.comments.length }}
        </a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
