.details {
  padding-top: 35px;
  &__title,
  &__name,
  &__descr {
    font-weight: 400;
    font-size: 28px;
    color: #1f242a;
  }
  &__spinner {
    padding: 240px 0 170px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__name,
  &__descr {
    font-size: 22px;
    margin-top: 65px;
  }
  &__descr {
    margin-top: 27px;
  }
  &__price {
    font-size: 22px;
    margin-top: 25px;
  }
}
