<h1 class="modal__title" mat-dialog-title>{{ titleText }}</h1>
<div class="modal" mat-dialog-content>
  <form class="modal__box" [formGroup]="form">
    <mat-form-field *ngFor="let field of keys">
      <mat-label>{{ field }}</mat-label>
      <input [formControlName]="field" matInput />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <btn
    [text]="'Cancel'"
    class="btn btn_modal"
    (click)="closeDialog()"
    mat-button
    cdkFocusInitial
  >
  </btn>
  <btn
    [text]="'OK'"
    class="btn btn_modal"
    (click)="showData()"
    mat-button
    cdkFocusInitial
  >
  </btn>
</div>
