<div class="welcome">
  <div class="container welcome__container">
    <aside class="welcome__container_left">
      <app-catalogue [static]="true"></app-catalogue>
    </aside>
    <div class="welcome__container_right">
      <h1 class="welcome__title">Вас може зацікавити</h1>
      <div *ngIf="loading$ | async" class="products__spinner">
        <app-spinner></app-spinner>
      </div>
      <div class="welcome__container_products">
        <app-product-item
          [productDate]="product"
          *ngFor="let product of data"
        ></app-product-item>
      </div>
    </div>
  </div>
</div>
