.welcome {
  padding: 40px 0 0px 0;
  &__title {
    font-weight: 400;
    font-size: 28px;
    color: #1f242a;
    line-height: 1.28;
  }
  &__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #1f242a;
    text-align: center;
  }
  &__spinner {
    padding: 120px 0 0 0;
    display: flex;
    justify-content: center;
  }
  &__container {
    display: flex;
    &_right {
      width: 100%;
    }
    &_products {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
@media (min-width: 768px) {
  .welcome {
    padding: 24px 0 20px 0;

    &__container {
      display: flex;
      gap: 15px;
      &_left {
        border-right: 1px solid #e9e9e9;
      }
      &_right {
        width: 100%;
      }
      &_products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
    }
  }
}
@media (min-width: 1440px) {
  .welcome {
    &__container {
      &_products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
