<div class="login">
  <div class="container">
    <div class="login__container">
      <h1 class="login__title">Реєстрація</h1>
      <form class="login__box" [formGroup]="form">
        <mat-form-field>
          <mat-label>Ім'я та Прізвище</mat-label>
          <input formControlName="username" matInput type="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Номер телефону</mat-label>
          <input formControlName="phoneNumber" matInput type="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input formControlName="password" matInput type="password" />
        </mat-form-field>
      </form>
      <div class="login__box-btn">
        <btn
          [text]="'На головну'"
          class="btn btn_modal"
          (click)="cancel()"
        ></btn>
        <btn [text]="'Готово'" class="btn btn_modal" (click)="redirect()"></btn>
      </div>
    </div>
  </div>
</div>
