<div class="comments">
  <div class="container">
    <div *ngIf="loading$ | async" class="about__spinner">
      <app-spinner></app-spinner>
    </div>
    <div class="comments__add">
      <span class="comments__add_text">Залиште свій відгук про товар </span>
      <btn
        [class]="'btn btn_comments'"
        [text]="'Написати відгук'"
        (click)="openModal()"
      ></btn>
    </div>
    <ul class="comments__list">
      <li class="comments__item" *ngFor="let item of comments">
        <div class="comments__item_username">{{ item.username }}</div>
        <div class="comments__item_box">
          <app-rating
            [starsRating]="item.stars"
            [addClass]="'rating_comments'"
            [showText]="false"
          ></app-rating>

          <div class="comments__item_text">{{ item.text }}</div>
        </div>
      </li>
    </ul>
    <mat-paginator
      class="comments__paginator"
      *ngIf="commentsLength > 5"
      [pageIndex]="pageIndex"
      [hidePageSize]="true"
      [length]="commentsLength"
      (page)="changePage($event)"
      [pageSize]="limit"
    >
    </mat-paginator>
  </div>
</div>
