<div [className]="'side-bar ' + activeBarclass">
  <div class="side-bar__close" (click)="closeBar()">×</div>
  <div class="side-bar__circle"></div>
  <nav class="side-bar__nav">
    <ul class="side-bar__list">
      <li class="side-bar__item">
        <a
          (click)="closeBar()"
          class="side-bar__link"
          [routerLink]="['users']"
          routerLinkActive="side-bar__link_active"
          >Users</a
        >
      </li>
      <li class="side-bar__item">
        <a
          (click)="closeBar()"
          class="side-bar__link"
          [routerLink]="['products']"
          routerLinkActive="side-bar__link_active"
          >Products</a
        >
      </li>
      <li class="side-bar__item">
        <a
          (click)="closeBar()"
          class="side-bar__link"
          [routerLink]="['orders']"
          routerLinkActive="side-bar__link_active"
          >Orders</a
        >
      </li>
    </ul>
  </nav>
  <a
    class="side-bar__logout"
    (click)="showOrClosePopup()"
    (mouseleave)="close()"
  >
    <div class="side-bar__logout_text">Exit</div>
    <svg class="side-bar__logout_img">
      <use href="assets/sprite.svg#icon-logout"></use>
    </svg>
    <div class="side-bar__logout_popup side-bar__popup" *ngIf="activePopup">
      <a class="side-bar__popup_link" (click)="logout()" [routerLink]="['/']">
        With logout</a
      >
      <a class="side-bar__popup_link" [routerLink]="['/']"> Without logout</a>
    </div>
  </a>
</div>
