.modal {
  width: 450px;
  padding-bottom: 0;
  color: black;
  &__title {
    text-align: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__product {
    &_title {
      font-size: 17px;
    }
  }

  &__img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80px;
    height: 70px;
    fill: #ff8303ed;
  }
  &__text {
    padding: 19px;
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: center;
  }
  &__btn {
    display: block;
    margin-top: 0px;
    padding: 7px 0;
    width: 90px;
    margin: 0 auto;
    background-color: #dfdfdf;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    transition: 250ms background-color;
    &:hover {
      background-color: #a3a4a48d;
    }
  }
}
@media (min-width: 768px) {
  .modal {
    &__btn {
      width: 120px;
    }
  }
}
