.users {
  padding: 20px;
  padding-bottom: 0;
  &__hamburger {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 10;
    &_img {
      fill: black;
      width: 25px;
      height: 25px;
      border-radius: 5px;
      transform: translateX(-2px);
    }
    transition: 250ms background-color;
    &:hover {
      background-color: #a1beb387;
    }
  }
  &__box {
    position: relative;
    padding: 0 30px;
    &-main {
      min-height: 673px;
   
    }
    &-spinner {
      padding: 180px 0;
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__paginator {
    position: absolute;
    right: 20px;
    bottom: 4px;
  }
}
@media (min-width: 1024px) {
  .users {
    padding: 48px;
    padding-bottom: 0;
    &__hamburger {
      display: none;
    }
    &__box {
      &-main {
        min-height: 586px;
      }
    }
  }
}
