<button class="users__hamburger" (click)="onenMenu()">
  <svg class="users__hamburger_img">
    <use href="assets/sprite.svg#icon-menu"></use>
  </svg>
</button>
<div class="users" (click)="close()">
  <div class="users__box">
    <h1 class="users__title">Users</h1>
    <div class="users__box-main">
      <app-filter [param]="'users'"></app-filter>
      <div class="users__box-item">
        <app-users-tables [items]="products"></app-users-tables>
        <div *ngIf="loading$ | async" class="users__box-spinner">
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
    <mat-paginator
      class="users__paginator"
      *ngIf="products.length"
      [pageIndex]="pageIndex"
      [hidePageSize]="true"
      [length]="productsLength"
      (page)="changePage($event)"
      [pageSize]="5"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
