.orders {
  padding-top: 24px;
  padding-left: 40px;
  &__title {
    font-size: 30px;
  }
  &__empty {
    padding-top: 150px;
    text-align: center;
    color: #797878;
    font-size: 18px;
  }
  &__item {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
    &-header {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    &-top {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    &-sum {
      color: #797878;
      font-size: 16px;
    }
    &-price {
      font-size: 14px;
    }
    &-product {
      display: flex;
      align-items: center;
      gap: 150px;
      margin-top: 15px;
      &:first {
        margin-top: 0;
      }
    }
    &-img {
      height: 60px;
      width: 60px;
    }
    &-quantity {
      font-size: 17px;
    }
  }
}
::ng-deep .mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 5px;
}
::ng-deep .mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.097),
    0px 2px 2px 0px rgba(0, 0, 0, 0.053), 0px 1px 5px 0px rgba(0, 0, 0, 0.064);
}
