.login {
  height: 100%;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
  }
  &__error-text {
    text-align: center;
    color: red;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 7px;
  }
  &__container {
    margin: 0 auto;
    width: 400px;
    padding: 40px;
    border: 2px solid rgba(79, 77, 77, 0.078);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    background-color: rgba(243, 237, 237, 0.3);
  }
  &__box {
    display: flex;
    flex-direction: column;
    &-btn {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
    }
  }
}
