<div class="login">
  <div class="container">
    <div class="login__container">
      <h1 class="login__title" mat-dialog-title>Log In</h1>
      <form class="login__box" [formGroup]="form">
        <mat-form-field>
          <mat-label> Email </mat-label>
          <input formControlName="email" matInput type="text" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" />
        </mat-form-field>
      </form>
      <div class="login__error-text" *ngIf="showLabel">
        Login or password incorrect
      </div>
      <div class="login__box-btn">
        <btn [text]="'Cancel'" class="btn btn_modal" (click)="cancel()"
          >Cancel</btn
        >
        <btn [text]="'OK'" class="btn btn_modal" (click)="redirect()"></btn>
      </div>
    </div>
  </div>
</div>
