<h1 class="modal__title" mat-dialog-title>
  <div class="modal__container_title">
    Кошик
    <btn [text]="'×'" [class]="' btn_close'" (click)="closeModal()">×</btn>
  </div>
</h1>
<div class="modal" mat-dialog-content>
  <ng-container *ngIf="!data.length">
    <div class="modal__empty">Ваш кошик пустий!</div>
  </ng-container>
  <div class="modal__container">
    <ul class="modal__list">
      <li *ngFor="let prod of data" class="modal__item">
        <a
          (click)="closeModal()"
          [routerLink]="['', prod.category, prod.id]"
          class="modal__link_box"
        >
          <div class="modal__img_box">
            <img class="modal__img" [src]="prod.images[0]" alt="" />
          </div>
          <div class="modal__inf">
            <div class="modal__name">{{ prod.name }}</div>
            <div class="modal__price">
              Price: {{ prod.price }} × {{ prod.counter }} =
              {{ prod.price * prod.counter | uah }}
            </div>
          </div>
        </a>
        <app-counter
          (mouseClick)="changeCounter($event)"
          [elem]="prod"
        ></app-counter>
        <btn
          [text]="'×'"
          [class]="'btn btn_delete'"
          (click)="delete(prod)"
        ></btn>
      </li>
    </ul>

    <form class="modal__order" *ngIf="openOrder" [formGroup]="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input formControlName="phone" type="tel" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>message</mat-label>
        <input formControlName="message" type="text" matInput />
      </mat-form-field>

      <div class="modal__order_box">
        <div class="modal__total">{{ totalSum | uah }}</div>
        <btn text="Підтвердити замовлення" (click)="makeOrder()" class="btn btn_order"></btn>
      </div>
    </form>

    <div class="modal__footer" *ngIf="data.length && !openOrder">
      <div class="modal__total">{{ totalSum | uah }}</div>
      <btn
        text="Оформити замовлення"
        class="btn btn_order"
        (click)="openOrderMenu()"
      ></btn>
    </div>
  </div>
</div>

