.show {
  display: flex;
  animation: showing 250ms;
  @keyframes showing {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.hide {
  display: none;
}
.modal {
  background-color: white;
  padding: 15px 10px;
  position: absolute;
  transform: translate(-40%, 0px);
  border-radius: 5px;
  top: 46px;
  box-shadow: 0px 2px 11px 4px rgba(0, 0, 0, 0.129);
  border: 2px solid rgba(118, 115, 115, 0.293);
  max-width: 400px;
  cursor: default;
  &__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__list {
    margin: 0;
    padding: 0;
  }
  &__item {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    align-items: center;
    &:hover {
      background-color: rgba(169, 163, 163, 0.089);
    }
  }
  &__inf {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  &__name {
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  &__num {
    text-align: center;
  }

  &__price {
    margin-top: 15px;
    font-size: 15px;
    line-height: 1.28;
  }
  &__empty {
    color: rgba(0, 0, 0, 0.634);
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 22px;
    width: 400px;
  }
  &__total {
    font-weight: 500;
    line-height: 1;
  }
  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
