<div [className]="'modal ' + className">
  <ng-container *ngIf="!data.length">
    <div class="modal__empty">Your shopping cart is empty!</div>
  </ng-container>
  <div class="modal__container">
    <ul class="modal__list">
      <li *ngFor="let prod of data" class="modal__item">
        <a [routerLink]="['products', prod.id]" class="modal__link_box">
          <div class="modal__img_box">
            <img class="modal__img" [src]="" alt="" />
          </div>
          <div class="modal__inf">
            <div class="modal__name">{{ prod.name }}</div>
            <div class="modal__price">
              Price: {{ prod.price }} × {{ prod.counter }} =
              {{ prod.price * prod.counter | uah }}
            </div>
          </div>
        </a>
        <app-counter
          (mouseClick)="changeCounter($event)"
          [elem]="prod"
        ></app-counter>
        <btn
          [text]="'×'"
          [class]="'btn btn_delete'"
          (click)="delete(prod)"
        ></btn>
      </li>
    </ul>
    <div class="modal__footer" *ngIf="data.length">
      <div class="modal__total">Total: {{ totalSum }}</div>
      <app-total-btn></app-total-btn>
    </div>
  </div>
</div>
