* {
  box-sizing: border-box;
}
.mat-mdc-dialog-actions {
  justify-content: space-around !important;
}
a:focus {
  outline: none;
}
.scroll-block {
  width: 100%;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background: #929191c2;
  border-radius: 5px;
}

::-webkit-scrollbar-button {
  background: #ffffff;
  height: 2px;
}
