.modal {
  width: 450px;
  padding-bottom: 0;
  &__title {
    text-align: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__label {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 80px;
    height: 70px;
    fill: #ff8303ed;
  }
  &__text {
    padding: 19px;
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: center;
  }
}
