.modal {
  padding: 0 40px;
  padding-bottom: 0;

  &__title {
    text-align: center;
  }
  &__box {
    &_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    &_title {
      margin-bottom: 10px;
    }
  }
  &__editor {
    width: 100%;
  }
  &__array {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 15px;
    &_box {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: stretch;
    }
    &_input {
      width: 80%;
    }
    &_delete {
      transform: translateY(-10px);
      background-color: transparent;
      border: none;
      color: rgb(146, 134, 134);
      &:hover {
        color: rgb(121, 111, 111);
      }
    }
  }
  &__label {
    text-align: center;
    color: red;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__imgs {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  &__img {
    width: 90px;
    &_container {
      position: relative;
      &:hover {
        .modal__img_delete {
          display: block;
        }
      }
    }
    &_delete {
      position: absolute;
      display: none;
      top: 0;
      width: 100%;
      height: 100%;
      border: none;
      font-size: 30px;
      background-color: rgba(0, 0, 0, 0.437);
      color: white;
    }
  }
  &__text {
    padding: 19px;
    font-size: 20px;
    color: black;
    font-weight: 500;
    text-align: center;
  }
  &__file {
    margin-top: 30px;
  }
  &__btn {
    display: block;
    margin-top: 0px;
    padding: 7px 0;
    width: 90px;
    margin: 0 auto;
    background-color: #dfdfdf;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    transition: 250ms background-color;
    &:hover {
      background-color: #a3a4a48d;
    }
  }
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content {
  color: black;
}
@media (min-width: 768px) {
  .modal {
    &__btn {
      width: 120px;
    }
  }
}
::ng-deep .ql-snow .ql-tooltip {
  transform: translate(60px, 10px);
}
