<h1 class="modal__title" mat-dialog-title>{{ titleText }}</h1>
<div class="modal" mat-dialog-content>
  <form class="modal__box" [formGroup]="form">
    <div class="modal__box_grid">
      <mat-form-field *ngFor="let field of keys">
        <mat-label>{{ field }}</mat-label>
        <input [formControlName]="field" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Категорія</mat-label>
        <mat-select formControlName="category">
          <mat-option
            *ngFor="let category of categories"
            [value]="category.link"
            >{{ category.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <quill-editor
      formControlName="description"
      class="modal__editor"
      [modules]="modules"
    ></quill-editor>

    <div class="modal__array">
      <div formArrayName="otherIds">
        <div class="modal__box_title">
          Id товарів з іншим кольором <button (click)="addIdLabel()">+</button>
        </div>
        <div
          class="modal__box_ids"
          *ngFor="let item of controlsIds; let i = index"
        >
          <div [formGroupName]="i">
            <div class="modal__array_box">
              <mat-form-field class="modal__array_input">
                <mat-label>id</mat-label>
                <input formControlName="id" matInput />
              </mat-form-field>
              <button class="modal__array_delete" (click)="deleteIdInput(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div formArrayName="characteristics">
        <div class="modal__box_title">
          Характеристики, приклад заповнення(екран - 12 дюймів)
          <button (click)="addCharGroup()">+</button>
        </div>
        <div
          class="modal__box_ids"
          *ngFor="let item of controlsChar; let i = index"
          [formGroupName]="i"
        >
          <div class="modal__array_box">
            <mat-form-field class="modal__array_input">
              <mat-label>Title</mat-label>
              <input formControlName="title" matInput />
            </mat-form-field>
            <button (click)="addCharLabel(i)">+</button>
            <button class="modal__array_delete" (click)="deleteCharInput(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div formArrayName="chars">
            <div
              *ngFor="
                let characteristic of getCharacteristics(i).controls;
                let j = index
              "
              [formGroupName]="j"
            >
              <div class="modal__array_box">
                <mat-form-field class="modal__array_input">
                  <mat-label>characteristic</mat-label>
                  <input formControlName="char" matInput />
                </mat-form-field>
                <button
                  class="modal__array_delete"
                  (click)="deleteCharLabel(i, j)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input type="file" class="modal__file" multiple (change)="upload($event)" />

    <div class="modal__label" *ngIf="showLabel">Incorect price</div>
  </form>
  <div class="modal__imgs">
    <div class="modal__img_container" *ngFor="let src of img">
      <img [src]="src" class="modal__img" />
      <button class="modal__img_delete" (click)="deleteImg(src)">×</button>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button class="modal__btn" (click)="closeDialog()" mat-button cdkFocusInitial>
    Cancel
  </button>
  <button class="modal__btn" (click)="showData()" mat-button cdkFocusInitial>
    OK
  </button>
</div>
