<div [className]="'modal ' + className">
  <ng-container *ngIf="!data.length">
    <div class="modal__empty">Your shopping cart is empty!</div>
  </ng-container>
  <div class="modal__container">
    <ul class="modal__list">
      <li *ngFor="let prod of data" class="modal__item">
        <div class="modal__inf">
          <a class="modal__name" [routerLink]="[prod[0].id]"
            ><div>{{ prod[0].name }} #{{ prod[0].id }}</div>
          </a>
          <div class="modal__price">
            Price: {{ prod[0].price }} × {{ prod[1] }} =
            {{ prod[0].price * prod[1] | uah }}
          </div>
        </div>
        <app-counter
          (mouseClick)="changeCounter($event)"
          [elem]="prod"
        ></app-counter>
        <btn
          [text]="'×'"
          [class]="'btn btn_delete'"
          (click)="delete(prod[0])"
        ></btn>
      </li>
    </ul>
    <div *ngIf="data.length" class="modal__total">Total: {{ totalSum }}</div>
  </div>
</div>
