<div class="about">
  <div class="container">
    <div *ngIf="loading$ | async" class="about__spinner">
      <app-spinner></app-spinner>
    </div>
    <div class="about__box" *ngIf="productData">
      <div class="about__container">
        <div class="about__box-slider">
          <div class="swiper swiper-main" #swiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of productData.images">
                <img [src]="item" loading="lazy" />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <div class="swiper swiper-thumb">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of productData.images">
                <img [src]="item" loading="lazy" />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="about__inf">
          <div class="about__colors">
            <div class="about__colors_text">
              <span>Колір: </span>{{ productData.color }}
            </div>
            <div class="about__colors_box">
              <a
                class="about__item"
                [routerLink]="['', productData.category, productData.id]"
                routerLinkActive="about__item_active"
                [routerLinkActiveOptions]="{ exact: true }"
                [style]="'background-color:' + productData.cssColor"
              >
              </a>
              <a
                *ngFor="let item of otherColors"
                class="about__item"
                (click)="updateData(item)"
                routerLinkActive="about__item_active"
                [routerLinkActiveOptions]="{ exact: true }"
                [style]="'background-color:' + item.cssColor"
              >
              </a>
            </div>
          </div>
          <div [class]="'about__availability ' + availabilityClass">
            {{ availabilityText }}
          </div>
          <div class="about__buy border">
            <div class="about__price">{{ productData.price | uah }}</div>
            <btn
              [class]="'btn btn_about'"
              [text]="buttonText"
              (click)="setData(productData)"
            ></btn>
            <button
              (click)="changeWishStatus()"
              [class]="'about__wish ' + wishBtnClass"
            >
              <svg
                [ngClass]="{
                  'about__wish-img': !wishStatus || wishStatus,
                  'about__wish-img_active': wishStatus,
                 
                }"
              >
                <use href="assets/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
          <div class="about__guarantee border">
            <span>Гарантія.</span>{{ productData.guarantee }}. Обмін/повернення
            товару впродовж 14 днів
          </div>
          <div class="about__chars">{{ chars }}</div>
        </div>
      </div>

      <quill-view-html
        [content]="productData.description"
        format="text"
        theme="snow"
      ></quill-view-html>
    </div>
  </div>
</div>
