<div class="details">
  <div class="container">
    <div *ngIf="loading$ | async" class="details__spinner">
      <app-spinner></app-spinner>
    </div>
    <div class="details__box" *ngIf="productData">
      <div class="details__container">
        <div class="details__box-slider">
          <div class="swiper swiper-main" #swiper>
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of productData.images">
                <img [src]="path + item" loading="lazy" />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <div class="swiper swiper-thumb">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let item of productData.images">
                <img [src]="path + item" loading="lazy" />
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="details__inf">
          <div class="details__colors">
            <div class="details__colors_text">
              <span>Колір: </span>{{ productData.color }}
            </div>
            <div class="details__colors_box">
              <a
                class="details__item"
                [routerLink]="['/products', productData.id]"
                routerLinkActive="details__item_active"
                [routerLinkActiveOptions]="{ exact: true }"
                [style]="'background-color:' + productData.cssColor"
              >
              </a>
              <a
                *ngFor="let item of otherColors"
                class="details__item"
                (click)="updateData(item)"
                routerLinkActive="details__item_active"
                [routerLinkActiveOptions]="{ exact: true }"
                [style]="'background-color:' + item.cssColor"
              >
              </a>
            </div>
          </div>
          <div [class]="'details__availability ' + availabilityClass">
            {{ availabilityText }}
          </div>
          <div class="details__inf_buy border">
            <div class="details__price">{{ productData.price | uah }}</div>
            <btn
              [class]="'btn btn_details'"
              [text]="buttonText"
              (click)="setData(productData)"
            ></btn>
          </div>
          <div class="details__guarantee border">
            <span>Гарантія.</span>{{ productData.guarantee }} Обмін/повернення
            товару впродовж 14 днів
          </div>
        </div>
      </div>

      <div class="details__descr">{{ productData.description }}</div>
    </div>
  </div>
</div>
<!-- [routerLink]="['/products', productData.id]" -->
