.header {
  background-color: #509179;
  padding: 25px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icon {
    fill: white;
    width: 25px;
    height: 25px;
  }
  &__text {
    color: white;
    font-weight: 300;
    transform: translateY(1px);
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    &_text {
      font-size: 25px;
    }
  }
  &__nav {
    &_list {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    &_item {
      display: flex;
      align-items: center;
      gap: 4px;
      text-decoration: none;
    }
    &_text {
      font-size: 18px;
    }
  }
  .header__logo,
  .header__nav_item {
    &:hover {
      .header__icon {
        fill: black;
      }
      .header__text {
        color: black;
      }
    }
  }
  .header__text,
  .header__icon {
    transition: 250ms fill, color;
  }
}
.products {
  padding-top: 35px;
  &__title {
    font-weight: 400;
    font-size: 28px;
    color: #1f242a;
  }
  &__box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  &__item {
    padding: 47px 40px 40px 40px;
    background-color: #e5e5e583;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    border-radius: 5px;
    border: 2px solid rgba(79, 77, 77, 0.078);
    &_price {
      font-size: 19px;
      margin-top: 22px;
    }
    &_title {
      font-size: 23px;
    }
    &_btn {
      margin-top: 28px;
      padding: 15px 40px;
      border-radius: 5px;
      background-color: #a3a4a43d;
      font-size: 18px;
      transition: 250ms background-color;

      &:hover {
        background-color: #a3a4a48d;
      }
    }
  }
  &__btn {
    &_more {
      display: block;
      padding: 10px 20px;
      margin: 0 auto;
      margin-top: 35px;
      margin-bottom: 50px;
      font-size: 400;
      font-size: 15px;
      border-radius: 5px;
      background-color: #94aaba6b;
      border: 2px solid #9e9d9c32;
      box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 5%);
      transition: 250ms background-color;
      &:hover {
        background-color: #94aabaad;
      }
    }
  }
}
.footer {
  padding-bottom: 50px;
  &__btn {
    display: flex;
    align-items: center;
    border: none;
    padding: 5px 7px;
    background-color: rgba(0, 0, 0, 0);
    gap: 4px;
    border-radius: 4px;
    transition: 250ms background-color;
    &:hover {
      background-color: rgba(0, 0, 0, 0.037);
    }
    &_text {
      font-weight: 400;
      font-size: 18px;
    }
    &_img {
      width: 25px;
      height: 25px;
      transform: translateY(1px);
    }
  }
}

@media (max-width: 1024px) {
  .products {
    &__box {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (max-width: 768px) {
  .products {
    &__box {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 576px) {
  .products {
    &__box {
      grid-template-columns: 80%;
      justify-content: center;
    }
  }
}
