<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo">
      <svg class="header__logo_img header__icon">
        <use href="../assets/sprite.svg#icon-shop"></use>
      </svg>
      <div class="header__logo_text header__text">Store</div>
    </a>
    <nav class="header__nav">
      <ul class="header__nav_list">
        <li>
          <a href="#" class="header__nav_item">
            <svg class="header__nav_img header__icon">
              <use href="../assets/sprite.svg#icon-catalogue"></use>
            </svg>
            <div class="header__nav_text header__text">Products</div></a
          >
        </li>
        <li class="header__nav_item">
          <a href="#" class="header__nav_item"
            ><svg class="header__nav_img header__icon">
              <use href="../assets/sprite.svg#icon-shopping-cart"></use>
            </svg>
            <div class="header__nav_text header__text">Cart</div></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<main class="main">
  <div class="products">
    <div class="container">
      <h2 class="products__title">Products</h2>
      <div class="products__box">
        <div *ngFor="let product of date" class="products__item">
          <h4 class="products__item_title">{{ product.name }}</h4>
          <div class="products__item_price">{{ product.price | currency }}</div>
          <button class="products__item_btn">Add to cart</button>
        </div>
      </div>
      <button class="products__btn_more">Load more</button>
    </div>
  </div>
</main>
<footer class="footer">
  <div class="container">
    <button class="footer__btn">
      <div class="footer__btn_text">Admin</div>
      <svg class="footer__btn_img">
        <use href="../assets/sprite.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</footer>
<router-outlet></router-outlet>
