<div class="filter">
  <mat-form-field class="filter__search">
    <mat-label>Search...</mat-label>
    <input #searchInput matInput type="text" />
  </mat-form-field>
  <mat-form-field class="filter__option">
    <mat-label>Option</mat-label>
    <mat-select [value]="" (selectionChange)="setSelect($event)">
      <mat-option [value]="">None</mat-option>
      <mat-option [value]="'More than'">More than</mat-option>
      <mat-option [value]="'Less than'">Less than</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="param == 'products'" class="filter__params">
    <mat-label>Value</mat-label>
    <input #priceInput matInput type="number" />
  </mat-form-field>
  <mat-form-field *ngIf="param == 'users'" class="filter__date">
    <mat-label>Value</mat-label>
    <input #dateInput matInput type="date" />
  </mat-form-field>
  <mat-form-field class="filter__as">
    <mat-label>Sort as...</mat-label>
    <mat-select (selectionChange)="setSortAs($event)">
      <mat-option [value]="">None</mat-option>
      <mat-option [value]="'less'">less</mat-option>
      <mat-option [value]="'more'">more</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter__by">
    <mat-label>Sort by...</mat-label>
    <mat-select (selectionChange)="setSortBy($event)">
      <mat-option [value]="">None</mat-option>
      <mat-option value="name">Name</mat-option>
      <mat-option *ngIf="param == 'products'" value="price">Price</mat-option>
      <mat-option value="id">Id</mat-option>
      <mat-option *ngIf="param == 'users'" value="date">Date</mat-option>
    </mat-select>
  </mat-form-field>
  <button (click)="openDialog()" class="filter__btn">+</button>
</div>
