<div class="filter">
  <mat-form-field class="filter__search">
    <input matInput type="text" placeholder="Search..." />
  </mat-form-field>
  <mat-form-field class="filter__option">
    <mat-select>
      <mat-option value="Option 1">Option 1 </mat-option>
      <mat-option value="Option 2">Option 2</mat-option>
      <mat-option value="Option 3">Option 3 </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="filter__params">
    <input matInput type="text" placeholder="Input value" />
  </mat-form-field>
</div>
