<div class="products">
  <div class="products__box">
    <h1 class="products__title">Products</h1>
    <div class="products__box-main">
      <app-filter [param]="'products'"></app-filter>
      <div class="products__box-item">
        <app-tables [items]="products"></app-tables>
        <div *ngIf="loading$ | async" class="products__box-spinner">
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
    <mat-paginator
      class="products__paginator"
      *ngIf="products.length"
      [pageIndex]="pageIndex"
      [hidePageSize]="true"
      [length]="productsLength"
      (page)="changePage($event)"
      [pageSize]="5"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
