.products {
  padding: 50px;
  padding-bottom: 0;

  &__box {
    padding: 0 30px;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}
