.products {
  padding: 50px;
  padding-bottom: 0;
  &__box {
    padding: 0 30px;
    &-spinner {
      padding: 180px 0;
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}
