<aside class="side-bar">
  <ul class="side-bar__list">
    <li class="side-bar__item side-bar__item_top">
      <a
        routerLink="personal-information"
        routerLinkActive="side-bar__link_active"
        class="side-bar__link"
      >
        <div class="side-bar__circule">
          <svg class="side-bar__icon">
            <use href="assets/sprite.svg#icon-user"></use>
          </svg>
        </div>
        <div class="side-bar__link-text">Особисті данні</div>
      </a>
    </li>
    <li class="side-bar__item">
      <a
        routerLink="orders"
        routerLinkActive="side-bar__link_active"
        class="side-bar__link"
      >
        <div class="side-bar__circule">
          <svg class="side-bar__icon">
            <use href="assets/sprite.svg#icon-orders"></use>
          </svg>
        </div>
        <div class="side-bar__link-text">Мої замовлення</div>
      </a>
    </li>
    <li class="side-bar__item">
      <a
        routerLink="wishlist"
        routerLinkActive="side-bar__link_active"
        class="side-bar__link"
      >
        <div class="side-bar__circule">
          <svg class="side-bar__icon side-bar__icon_heart">
            <use href="assets/sprite.svg#icon-heart"></use>
          </svg>
        </div>
        <div class="side-bar__link-text">Список бажань</div>
      </a>
    </li>
  </ul>
</aside>
