.catalogue {
  background-color: white;
  min-width: 300px;
  border-radius: 5px;
  z-index: 100;
  position: fixed;
  left: 10px;
  right: 10px;
  top: 30%;
  display: none;
  &__list {
    padding: 10px 0;
  }
  &__link {
    display: block;
    padding: 4px 10px;
    color: #3e77aa;
    text-decoration: none;
    &:hover {
      color: #f84147;
      text-decoration: underline;
      background-color: #fcfcee;
    }
  }
}
.static {
  position: static;
  display: none;
  .catalogue__link {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      background-color: transparent;
    }
  }
}
@media (min-width: 768px) {
  .catalogue {
    background-color: white;
    min-width: 300px;
    border-radius: 5px;
    z-index: 100;
    position: absolute;
    bottom: -100%;
    display: none;
    left: auto;
    right: auto;
    top: auto;
    &__list {
      padding: 10px 0;
    }
    &__link {
      display: block;
      padding: 4px 10px;
      color: #3e77aa;
      text-decoration: none;
      &:hover {
        color: #f84147;
        text-decoration: underline;
        background-color: #fcfcee;
      }
    }
  }
  .static {
    position: static;
    display: block;
    min-width: 200px;
  }
}
.showCatalogue {
  display: block;
  animation: showCatalogueA 0.5s forwards;
}
@keyframes showCatalogueA {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
