.footer {
  display: none;
}
@media (min-width: 768px) {
  .footer {
    display: block;
    padding-bottom: 50px;
    &__btn {
      display: flex;
      align-items: center;
      border: none;
      padding: 5px 7px;
      background-color: rgba(0, 0, 0, 0);
      gap: 4px;
      border-radius: 4px;
      transition: 250ms background-color;
      text-decoration: none;
      color: black;
      width: 96px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.037);
      }
      &_text {
        font-weight: 400;
        font-size: 18px;
      }
      &_img {
        width: 25px;
        height: 25px;
        transform: translateY(1px);
      }
    }
  }
}
