<footer class="footer">
  <div class="container">
    <div class="footer__socials">
      <a class="footer__links" href="">
        <img
          src="assets/icons/facebook.png"
          alt="social"
          class="footer__social"
      /></a>
      <a class="footer__links" href="">
        <img
          src="assets/icons/instagram.png"
          alt="social"
          class="footer__social"
      /></a>
      <a class="footer__links" href="">
        <img
          src="assets/icons/telegram.png"
          alt="social"
          class="footer__social"
      /></a>
      <a class="footer__links" href="">
        <img src="assets/icons/viber.png" alt="social" class="footer__social"
      /></a>
      <a class="footer__links" href="">
        <img
          src="assets/icons/youtube.png"
          alt="social"
          class="footer__social"
        />
      </a>
    </div>
    <div class="footer__bottom">
      © 2001–2023 Інтернет-магазин "Angular Store"
    </div>
  </div>
</footer>
