<footer class="footer">
  <div class="container">
    <a
      [class]="'footer__btn ' + hover"
      (click)="showPopupOrLogin($event)"
      (mouseleave)="popupClose()"
    >
      {{ text }}
      <div class="footer__popup" *ngIf="activePopup" (mouseenter)="hideHover()">
        <a class="footer__popup_link" [routerLink]="['/']"> Settings</a>
        <a
          class="footer__popup_link"
          *ngIf="canShowAdmin"
          routerLink="admin-panel"
          >Admin panel</a
        >
        <a class="footer__popup_link" (click)="logOut()">Log Out</a>
      </div>
    </a>
  </div>
</footer>
