.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  &__socials {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  &__social {
    display: block;
    height: 100%;
  }
  &__links {
    height: 100%;
  }
  &__bottom {
    margin-top: 15px;
    border-top: 1px solid #d2d2d2;
    text-align: center;
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .footer {
    display: block;
    padding: 50px 0;
    padding-bottom: 20px;
    &__btn {
      position: relative;
      display: block;
      text-align: center;
      border: none;
      padding: 5px 7px;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 4px;
      transition: 250ms background-color;
      text-decoration: none;
      color: black;
      max-width: 190px;
      font-weight: 500;
      font-size: 20px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.037);
      }
    }

    &__popup {
      position: absolute;
      bottom: 30px;
      left: 0px;
      background-color: rgb(243, 238, 238);
      border-radius: 5px;
      animation: show 250ms;
      z-index: 20;
      &_link {
        display: block;
        text-decoration: none;
        padding: 12px 15px;
        border-radius: 5px;
        font-weight: 400;
        color: black;
        transition: 150ms background-color;
        text-align: left;
        &:hover {
          background-color: #a3a8a79f;
        }
      }

      &_img {
        width: 25px;
        height: 25px;
        transform: translateY(1px);
      }
    }
  }
}
.hide {
  background-color: transparent !important;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
