.products {
  &__item {
    padding: 47px 40px 40px 40px;
    background-color: #e5e5e583;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 5%);
    border-radius: 5px;
    border: 2px solid rgba(79, 77, 77, 0.078);

    &_price {
      font-size: 19px;
      margin-top: 22px;
    }
    &_title {
      font-size: 23px;
      line-height: 1.28;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    &_link {
      text-decoration: none;
      color: black;
    }
  }
}
