<header class="header">
  <div class="header__container container">
    <div class="header__container_left">
      <button class="header__hamburger" appCloseCatalogue (click)="openMenu()">
        <svg class="header__hamburger_img">
          <use href="assets/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <a appCloseCatalogue class="header__logo" [routerLink]="['']">
        <svg class="header__logo_img header__icon">
          <use href="assets/sprite.svg#icon-shop"></use>
        </svg>
        <div class="header__logo_text header__text">Angular Store</div>
      </a>
      <div class="header__catalogue-container">
        <button class="header__catalogue_btn" (click)="changeCatalogueState()">
          <svg *ngIf="!showCatalogue" class="header__icon">
            <use href="assets/sprite.svg#icon-catalogue"></use>
          </svg>
          <svg *ngIf="showCatalogue" class="header__icon">
            <use href="assets/sprite.svg#icon-close"></use>
          </svg>
          <div class="header__text">Каталог</div>
        </button>
        <app-catalogue class="header__catalogue"></app-catalogue>
      </div>
    </div>
    <a class="header__nav_item" (click)="openDialog()" appCloseCatalogue
      ><svg class="header__nav_img header__icon">
        <use href="assets/sprite.svg#icon-shopping-cart"></use>
      </svg>
      <app-product-quantity
        *ngIf="productsLenght"
        class="header__nav_quantity"
        [quantity]="productsLenght"
      ></app-product-quantity>
    </a>
  </div>
</header>
