.btn {
  display: block;
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #a3a4a43d;
  font-size: 18px;
  transition: 250ms background-color;
  &:hover {
    background-color: #a3a4a48d;
  }
  &_products {
    padding: 7px 7px;
    font-size: 14px;
    background-color: #509179;
    border: none;
    color: white;
    &:hover {
      background-color: #509179d1;
    }
  }
  &_details {
    padding: 12px 25px;
    font-size: 20px;
    background-color: #509179;
    border: none;
    color: white;
    &:hover {
      background-color: #509179d1;
    }
  }
  &_about {
    padding: 15px 35px;
    background-color: #509179;
    border: none;
    color: white;
    &:hover {
      background-color: #509179d1;
    }
  }
  &_more {
    padding: 10px 20px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 5px;
    background-color: #94aaba6b;
    border: 2px solid #9e9d9c32;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 5%);
    transition: 250ms background-color;
    &:hover {
      background-color: #94aabaad;
    }
  }
  &_comments {
    padding: 10px 20px;
    border: 1px solid #ebebeb;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #3e77aa;
    &:hover {
      color: #3187d1;
      background-color: #f5f5f5;
    }
  }
  &_plus,
  &_minus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
    width: 25px;
    height: 25px;
    font-size: 20px;
    background-color: white;
    color: rgb(63, 62, 62);
    border: 1.5px solid rgba(146, 138, 138, 0.186);
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 5%);
  }
  &_minus {
    font-size: 22px;
    line-height: 1;
  }
  &_delete {
    margin: 0 0 0 20px;
    padding: 2px 0 0 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.464);
    color: white;
    border-radius: 100%;
    border: none;
    font-size: 25px;
    font-weight: 500;
  }
  &_modal {
    display: block;
    margin-top: 0px;
    padding: 7px 0;
    width: 90px;
    margin: 0 auto;
    background-color: #dfdfdf;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    border: 1px solid #ebebeb;
    &-left {
      background-color: #f5f5f5;
      color: #3e77aa;
      &:hover {
        color: #1f7ed0;
        background-color: #f5f5f5;
      }
    }
    &-right {
      background-color: #3e77aa;
      color: white;
      &:hover {
        background-color: #1f7ed0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .btn {
    padding: 10px 15px;
    &_more {
      margin-bottom: 20px;
    }
    &_plus,
    &_minus {
      padding: 0px;
    }
    &_modal {
      width: 120px;
    }
  }
}
@media (min-width: 1024px) {
  .btn {
    &_modal {
      width: 150px;
    }
  }
}
