<div [className]="'overlay ' + overlayClass" (click)="checkClose($event)">
  <div [className]="'side-bar ' + sidebarClass">
    <div class="side-bar__top">
      <div class="side-bar__header">
        <a class="side-bar__logo" [routerLink]="['']" (click)="closeMenu()">
          <svg class="side-bar__logo_img">
            <use href="assets/sprite.svg#icon-shop"></use>
          </svg>
          <div class="side-bar__logo_text">Angular Store</div>
        </a>
        <btn
          text="×"
          class="btn_close btn_close-white"
          (click)="closeMenu()"
        ></btn>
      </div>
      <div class="side-bar__user">
        <a
          routerLink="cabinet"
          class="side-bar__user-box hover"
          *ngIf="userInf; else notLogIn"
          (click)="closeMenu()"
        >
          <div class="side-bar__circule">
            <span class="side-bar__circule-text">{{ userInf.name[0] }}</span>
          </div>
          <div class="side-bar__user-inf">
            <span class="name"> {{ userInf.name }} </span>
            <span class="email">{{ userInf.email }}</span>
          </div>
        </a>

        <ng-template #notLogIn>
          <div class="side-bar__user-box">
            <div class="side-bar__circule">
              <svg class="side-bar__user-icon side-bar__icon">
                <use href="assets/sprite.svg#icon-user"></use>
              </svg>
            </div>
            <div class="side-bar__user-auth">
              <a
                routerLink="/login"
                class="side-bar__user-link"
                (click)="closeMenu()"
                >Вхід</a
              >
              |
              <a
                routerLink="/registration"
                (click)="closeMenu()"
                class="side-bar__user-link"
                >Реєстрація</a
              >
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <ul class="side-bar__main">
      <li class="side-bar__item side-bar__item-border-bottom">
        <a class="side-bar__link" (click)="openCalatogue()">
          <div class="side-bar__circule side-bar__circule_light">
            <svg class="side-bar__icon side-bar__icon_black">
              <use href="assets/sprite.svg#icon-catalogue"></use>
            </svg>
          </div>
          <div class="side-bar__link-text">Каталог товарів</div>
        </a>
      </li>
      <li class="side-bar__item">
        <a class="side-bar__link">
          <div class="side-bar__circule side-bar__circule_light">
            <svg class="side-bar__icon side-bar__icon_black">
              <use href="assets/sprite.svg#icon-orders"></use>
            </svg>
          </div>
          <div class="side-bar__link-text">Мої замовлення</div>
        </a>
      </li>
      <li class="side-bar__item" (click)="openCartModal()">
        <a class="side-bar__link">
          <div class="side-bar__circule side-bar__circule_light">
            <svg class="side-bar__icon side-bar__icon_black">
              <use href="assets/sprite.svg#icon-shopping-cart"></use>
            </svg>
          </div>
          <div class="side-bar__link-text">Кошик</div>
        </a>
      </li>

      <li *ngIf="userInf" class="side-bar__item side-bar__item-border-top">
        <button (click)="logOut()" class="side-bar__link side-bar__link-btn">
          <div class="side-bar__link-text">Вийти з аккаунту</div>
        </button>
      </li>
      <li *ngIf="checkAdmin" class="side-bar__item">
        <button class="side-bar__link side-bar__link-btn">
          <div class="side-bar__link-text">Admin panel</div>
        </button>
      </li>
    </ul>
  </div>
</div>
