.item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 2fr 0.3fr 0.3fr;
  align-items: center;
  font-size: 21px;
  padding: 27px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  line-height: 1.28;
  &__id {
    position: relative;
    &:hover {
      .item__id-popup {
        opacity: 1;
      }
    }
    &-popup {
      position: absolute;
      padding: 10px;
      top: -10px;
      left: 25px;
      opacity: 0;
      color: black;
      border-radius: 5px;
      background-color: rgb(211, 209, 209);
      transition: 150ms opacity;
      z-index: 2;
      &:hover {
        opacity: 0 !important;
      }
    }
  }
  &__name {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__btn {
    padding: 0;
    width: 25px;
    height: 25px;
    display: inline;
    border: none;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: 150ms background-color;
    &:hover {
      background-color: #a19e9e38;
    }
  }
  &__img {
    transform: translate(4%, 5%);

    width: 25px;
    height: 25px;
    fill: black;
  }
}
