.modal {
  padding-bottom: 0;
  &__title {
    text-align: center;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }

  .mat-mdc-checkbox {
    margin-top: -10px;
    margin-bottom: 5px;
  }
  &__container {
    color: black;
  }
  &__product {
    margin: 10px 0 15px 0;
  }
  &__index {
    margin-bottom: 2px;
    font-weight: 500;
  }
  &__name {
    margin-right: 10px;
  }
  &__btn {
    display: block;
    margin-top: 0px;
    padding: 7px 0;
    width: 90px;
    margin: 0 auto;
    background-color: #dfdfdf;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    transition: 250ms background-color;
    &:hover {
      background-color: #a3a4a48d;
    }
  }
}
@media (min-width: 768px) {
  .modal {
    width: 450px;
    &__btn {
      width: 120px;
    }
  }
}
